.latest_post_card{
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    justify-content: space-between;
}





.latest_post_card > img{
    height: 243px;
}

.latest_post_meta{
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.latest_post__title{
    font-weight: bold;
font-size: 30px;
line-height: 36px;

/* 800 */

color: #2D3748;
margin-bottom: 0;
}

.latest_post_meta p{
    font-weight: normal;
font-size: 14px;
line-height: 17px;

/* 600 */

color: #718096;
width: 65%;
}

.latest_post_time_and_controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 25px;
}
.latest_post_time_and_controls span{
font-size: 12px;
line-height: 15px;
color: #718096;
}
.latest_post_time_and_controls a{
    font-weight: bold;
font-size: 12px;
line-height: 15px;

color: #2D3748;
}

@media screen and (max-width: 978px) {
    .latest_post_card > img{
        display: none;
    }
   
  }
