.header{
    width: 100%;
    height: 55px;
    background-color: #fff;
    /* position: sticky;
    top: 0; */
    z-index: 99;
}

.header_wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.nav__right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap:35px;
}

.searchbar{
display: flex;
align-items: center;
width: 350px;
gap:10px;
height: 35px;
}

.searchbar input{
    width:300px;
    height: 100%;
    border: 1px solid transparent;
    outline: 0;
}

.navbar{
    display: flex;
    align-items: center;
    gap:15px;
    user-select: none;
}

.social_links{
    display: flex;
    align-items: center;
    gap:10px;
}

.auth_btn{
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 16px;
}
.menu_btn{
    width: 42px;
    height: 42px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 50%;
    display: none;
}


@media screen and (max-width: 978px) {
    .nav__right{
        display: none;
    }
    .menu_btn{
        display: block;
    }
  }
