.footer{
    width: 100%;
    height: 55px;
}
.footer_wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ededed;
}

.footer_social_links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:15px;
}